<!-- ヘッダー -->
<div class="chat_header">
  <div class="chat_name">test chat</div>
  <div class="chat_close"><a hrer="#">チャットを終了する</a></div>
</div>
<!-- チャット -->
<div class="messages">
  <div class="message">
   <div class="message_top">
     <div class="message_name">mizha</div>
      <div class="message_date">2024/02/07 09:14:53</div>
    </div>
    <div class="message_content">一人ですけど、おはようございます。</div>
  </div>
  <div class="message">
   <div class="message_top">
     <div class="message_name">mizha</div>
      <div class="message_date">2024/02/07 09:15:05</div>
    </div>
    <div class="message_content">おはようございます！！！</div>
  </div>
</div>
<!-- フォーム -->
<div class="form">
  <div class="form_input">
    <input class="form-message" placeholder="type a message" tyoe="text" name="message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <div class="form_btn">
    <input class="form-submit" type="submit" value="送信">
  </div>
</div>
